#include "resource.h"

#ifndef APSTUDIO_INVOKED
#include "targetver.h"
#endif
#include "afxres.h"
#include "verrsrc.h"

LANGUAGE LANG_ENGLISH, SUBLANG_ENGLISH_US

IDR_MAINFRAME ICON "res\\ClevoFanControl.ico"

IDD_ABOUTBOX DIALOGEX 0, 0, 220, 70
STYLE DS_SETFONT | DS_MODALFRAME | DS_FIXEDSYS | WS_POPUP | WS_CAPTION | WS_SYSMENU
CAPTION "About ClevoFanControl"
FONT 10, "Segoe UI Variable", 0, 0, 0x1
BEGIN
    ICON            IDR_MAINFRAME,IDC_STATIC,14,14,20,20
    LTEXT           "ClevoFanControl",IDC_STATIC,48,12,120,10
    LTEXT           "Visual fan curve controller",IDC_STATIC,48,28,140,10
    DEFPUSHBUTTON   "OK",IDOK,158,48,50,14
END

IDD_CLEVOFANCONTROL_DIALOG DIALOGEX 0, 0, 1100, 680
STYLE DS_SETFONT | DS_FIXEDSYS | WS_POPUP | WS_VISIBLE | WS_CAPTION | WS_SYSMENU | WS_THICKFRAME | WS_MINIMIZEBOX | WS_MAXIMIZEBOX
EXSTYLE WS_EX_APPWINDOW
CAPTION "ClevoFanControl"
FONT 10, "Segoe UI Variable", 0, 0, 0x1
BEGIN
    LTEXT           "CPU fan curve",IDC_STATIC_CPU_TITLE,16,16,672,14
    CONTROL         "",IDC_STATIC_CPU_CURVE,"Static",SS_BLACKFRAME,16,32,672,270
    LTEXT           "GPU fan curve",IDC_STATIC_GPU_TITLE,16,318,672,14
    CONTROL         "",IDC_STATIC_GPU_CURVE,"Static",SS_BLACKFRAME,16,334,672,270

    GROUPBOX        "Status",IDC_STATIC_STATUS_GROUP,704,16,380,150
    CONTROL         "",IDC_LIST_STATUS,"SysListView32",LVS_REPORT | LVS_ALIGNLEFT | WS_BORDER | WS_TABSTOP,712,36,364,120

    GROUPBOX        "Presets",IDC_STATIC_PRESETS_GROUP,704,176,380,92
    CONTROL         "Auto switch presets",IDC_CHECK_AUTO_SWITCH,"Button",BS_AUTOCHECKBOX | WS_TABSTOP,716,196,150,20
    LTEXT           "Active preset: Global",IDC_STATIC_ACTIVE_PRESET,716,222,190,14
    PUSHBUTTON      "Manage presets...",IDC_BUTTON_MANAGE_PRESETS,916,214,152,26

    GROUPBOX        "Node Point",IDC_STATIC_NODE_GROUP,704,280,380,116
    LTEXT           "Index",IDC_STATIC_NODE_INDEX_LABEL,716,302,36,14
    EDITTEXT        IDC_EDIT_NODE_INDEX,754,299,42,22,ES_CENTER | ES_AUTOHSCROLL | ES_NUMBER
    LTEXT           "Temperature",IDC_STATIC_NODE_TEMP_LABEL,804,302,58,14
    EDITTEXT        IDC_EDIT_NODE_TEMP,866,299,48,22,ES_CENTER | ES_AUTOHSCROLL | ES_NUMBER
    LTEXT           "Duty %",IDC_STATIC_NODE_DUTY_LABEL,922,302,42,14
    EDITTEXT        IDC_EDIT_NODE_DUTY,968,299,48,22,ES_CENTER | ES_AUTOHSCROLL | ES_NUMBER

    LTEXT           "Curve",IDC_STATIC_CURVE_LABEL,716,336,32,14
    COMBOBOX        IDC_COMBO_CURVE,754,332,120,80,CBS_DROPDOWNLIST | WS_VSCROLL | WS_TABSTOP
    PUSHBUTTON      "Add point",IDC_BUTTON_CURVE_ADD,716,362,92,26
    PUSHBUTTON      "Delete point",IDC_BUTTON_CURVE_DELETE,816,362,108,26
    PUSHBUTTON      "Reset curve",IDC_BUTTON_CURVE_RESET,932,362,108,26

    GROUPBOX        "Configuration",IDC_STATIC_SETTINGS_GROUP,704,408,380,228
    LTEXT           "Update interval",IDC_STATIC_INTERVAL_LABEL,716,444,82,14
    EDITTEXT        IDC_EDIT_INTERVAL,800,440,52,22,ES_CENTER | ES_AUTOHSCROLL | ES_NUMBER
    LTEXT           "Transition temp",IDC_STATIC_TRANSITION_LABEL,862,444,82,14
    EDITTEXT        IDC_EDIT_TREANSITION,948,440,52,22,ES_CENTER | ES_AUTOHSCROLL | ES_NUMBER
    LTEXT           "Force temp",IDC_STATIC_FORCE_LABEL,716,474,74,14
    EDITTEXT        IDC_EDIT_FORCE_TEMP,800,470,52,22,ES_CENTER | ES_AUTOHSCROLL | ES_NUMBER
    CONTROL         "Take over",IDC_CHECK_TAKEOVER,"Button",BS_AUTOCHECKBOX | WS_TABSTOP,716,502,100,20
    CONTROL         "Force cooling",IDC_CHECK_FORCE,"Button",BS_AUTOCHECKBOX | WS_TABSTOP,824,502,110,20
    CONTROL         "Linear mode",IDC_CHECK_LINEAR,"Button",BS_AUTOCHECKBOX | WS_TABSTOP,716,530,100,20
    CONTROL         "Soft control",IDC_CHECK_SOFTCONTROL,"Button",BS_AUTOCHECKBOX | WS_TABSTOP,824,530,110,20
    CONTROL         "Run at startup",IDC_CHECK_AUTORUN,"Button",BS_AUTOCHECKBOX | WS_TABSTOP,716,558,112,20
    LTEXT           "Close button behavior",IDC_STATIC_CLOSE_BEHAVIOR_LABEL,716,584,128,14
    COMBOBOX        IDC_COMBO_CLOSE_BEHAVIOR,848,580,220,80,CBS_DROPDOWNLIST | WS_VSCROLL | WS_TABSTOP
    LTEXT           "Font size",IDC_STATIC_FONT_SIZE_LABEL,716,612,64,14
    EDITTEXT        IDC_EDIT_FONT_SIZE,800,608,40,22,ES_CENTER | ES_AUTOHSCROLL | ES_NUMBER
    CONTROL         "",IDC_SPIN_FONT_SIZE,"msctls_updown32",UDS_SETBUDDYINT | UDS_AUTOBUDDY | UDS_ARROWKEYS,840,608,12,22

    PUSHBUTTON      "Load",IDC_BUTTON_LOAD,704,638,78,26
    PUSHBUTTON      "Reset",IDC_BUTTON_RESET,788,638,78,26
    PUSHBUTTON      "Save",IDC_BUTTON_SAVE,872,638,78,26
    DEFPUSHBUTTON   "Exit",IDOK,956,638,78,26
END

IDD_PRESET_MANAGER_DIALOG DIALOGEX 0, 0, 520, 300
STYLE WS_POPUP | WS_CAPTION | WS_SYSMENU | WS_THICKFRAME | DS_SETFONT
CAPTION "Manage presets"
FONT 10, "Segoe UI Variable", 0, 0, 0x1
BEGIN
    CONTROL         "",IDC_LIST_PRESETS,"SysListView32",LVS_REPORT | WS_BORDER | WS_TABSTOP,12,12,496,132
    LTEXT           "Name",IDC_STATIC_PRESET_NAME_LABEL,12,156,72,14
    EDITTEXT        IDC_EDIT_PRESET_NAME,88,152,420,22,ES_AUTOHSCROLL | WS_TABSTOP
    LTEXT           "Process name",IDC_STATIC_PRESET_PATTERN_LABEL,12,186,72,14
    EDITTEXT        IDC_EDIT_PRESET_PATTERN,88,182,420,22,ES_AUTOHSCROLL | WS_TABSTOP
    PUSHBUTTON      "New from current",IDC_BUTTON_PRESET_NEW,12,218,96,26
    PUSHBUTTON      "Save rule",IDC_BUTTON_PRESET_SAVE_RULE,114,218,72,26
    PUSHBUTTON      "Delete",IDC_BUTTON_PRESET_DELETE,192,218,72,26
    PUSHBUTTON      "Move up",IDC_BUTTON_PRESET_UP,270,218,72,26
    PUSHBUTTON      "Move down",IDC_BUTTON_PRESET_DOWN,348,218,78,26
    PUSHBUTTON      "Use selected",IDC_BUTTON_PRESET_USE,432,218,76,26
    DEFPUSHBUTTON   "OK",IDOK,356,262,72,26
    PUSHBUTTON      "Cancel",IDCANCEL,436,262,72,26
END

VS_VERSION_INFO VERSIONINFO
 FILEVERSION 1,7,0,0
 PRODUCTVERSION 1,7,0,0
 FILEFLAGSMASK 0x3fL
#ifdef _DEBUG
 FILEFLAGS 0x1L
#else
 FILEFLAGS 0x0L
#endif
 FILEOS 0x40004L
 FILETYPE 0x1L
 FILESUBTYPE 0x0L
BEGIN
    BLOCK "StringFileInfo"
    BEGIN
        BLOCK "040904B0"
        BEGIN
            VALUE "CompanyName", "ClevoFanControl"
            VALUE "FileDescription", "Visual fan curve controller"
            VALUE "FileVersion", "1.7.0.0"
            VALUE "InternalName", "ClevoFanControl.exe"
            VALUE "OriginalFilename", "ClevoFanControl.exe"
            VALUE "ProductName", "ClevoFanControl"
            VALUE "ProductVersion", "1.7.0.0"
        END
    END
    BLOCK "VarFileInfo"
    BEGIN
        VALUE "Translation", 0x409, 1200
    END
END
